 <!-- Page Content -->
    <div id="page-wrapper">
    
    <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{msg}}</h1>
                </div>
            </div>
	<div class="container">
		<div></div>
		<div class="clearfix"></div>
		<form name='myForm' ng-submit="postAdvertisement()" novalidate>

			<tabset>
			<tab heading="Main" ng-click="main()" id="mainForm">
			<div ng-form="mainForm" ng-show="mainForm" name="mainForm">
				<fieldset>
					<div class="col-lg-12 form-group margin50">
						<label class="col-lg-2" for="Name">Title</label>
						<div class="col-lg-4">
							<input type="text" ng-model="ad.title"   placeholder="Iphone 6 with Box and Accessories"
								class="form-control name" required="required">
						</div>
					</div>
					
					<div class="col-lg-12 form-group">
						<label class="col-lg-2" for="Name">Product Name</label>
						<div class="col-lg-4">
							<input type="text" ng-model="ad.productName"   placeholder=""
								class="form-control name" required="required">
						</div>
					</div>

					<div class=" col-lg-12 form-group">
						<label class="col-lg-2" for="ProductType">Product Category</label>
						<div class="col-lg-4">
							<select ng-model="ad.category" ng-options="cat.title for cat in categoriesList" name="ProductType"
								class="form-control product-type">
							</select>
						</div>
					</div>
					<div class="col-lg-12 form-group">
						<label class="col-lg-2" for="Manufacturer">Sub Category</label>
						<div class="col-lg-4">
							<select ng-model="ad.subCategory" name="Manufacturer"
								class="form-control manufacturer" ng-diabled="">
								<option ng-repeat="subCat in ad.category.subCategories" ng-value="subCat.name">{{subCat.name}}</option>
							</select>
						</div>
					</div>

					<div class="col-lg-12 form-group">
						<label class="col-lg-2" for="Distributor">Year of Purchase</label>
						<div class="col-lg-4">
							<input type="text" ng-model="ad.purchasedYear"   placeholder=""
								class="form-control name" required="required">
						</div>
					</div>
					
					<div class="col-lg-12 form-group">
						<label class="col-lg-2" for="Distributor">Price</label>
						<div class="col-lg-4">
							<input type="text" ng-model="ad.price"   placeholder=""
								class="form-control name" required="required">
						</div>
					</div>
				</fieldset>
			</div>
			</tab> <tab heading="Images" ng-click="images()">
			<div ng-form="subjectForm" ng-show="imagesForm">
				<fieldset>

					<div class="col-lg-6 form-group margin50">
						<div class="col-md-6">
							<input type="file" onchange="angular.element(this).scope().iconUpload(event)"  fileinput="file" filepreview="filepreview" />
						</div>
						<div class="col-md-6">
							<img ng-src="{{filepreview}}" class="img-responsive"
								ng-show="filepreview" />
						</div>
					</div>
				</fieldset>
			</div>

			</tab> 
			
			<tab heading="Description" ng-click="description()">
			<div ng-form="descriptionForm" ng-show="descriptionForm">
					<div class="col-lg-12 form-group margin50">
						<label class="col-sm-2" for="Description">Description</label>
						<div class="col-sm-4">
							<textarea class="form-control description" id="description"
								ng-model="ad.description" rows="5" cols="15"></textarea>
						</div>
					</div>
			</div>

			</tab>
			
			<tab heading="Location" ng-click="location()">
		<br/><br/>
		<label class="col-lg-2" for="Manufacturer">Enter Your Address</label>
			<div id="locationField">
				<input id="autocomplete" placeholder="Enter your address"
					type="text" style="width: 500px;" 	></input>
			</div>
			<br/>
			<label class="col-lg-2" for="Manufacturer">Enter Your Contact</label>
			<div id="locationField">
				<input id="autocomplete" placeholder="Enter your contact" ng-model="ad.contact"
					type="text" style="width: 300px;" 	></input>
			</div>
			<br/>
			<label class="col-lg-2" for="Manufacturer" >Your Address is:</label><span>	{{ yourLocation }}</span>
			<br/>
			
				
			<iframe width="300" height="170" frameborder="0" scrolling="no" marginheight="0" 
					             	marginwidth="0" 
					             	ng-src="{{url}}">
					             	</iframe><br /><small>
					             	<a ng-href="{{href}}" 
					             	style="color:#0000FF;text-align:left" target="_blank">See map bigger</a></small>
			
		
			<div ng-hide="hide">
		<label class="col-lg-2" for="Manufacturer">Street address</label>		
			<table id="address">
				<tr>
					<td class="label">Street address</td>
					<td class="slimField"><input class="field" id="street_number"></input>
					</td>
					<td class="wideField" colspan="2"><input class="field"
						id="route"></input></td>
				</tr>
				<tr>
					<td class="label">City</td>
					<td class="wideField" colspan="3"><input class="field"
						id="locality"></input></td>
				</tr>
				<tr>
					<td class="label">State</td>
					<td class="slimField"><input class="field"
						id="administrative_area_level_1"></input></td>
					<td class="label">Zip code</td>
					<td class="wideField"><input class="field" id="postal_code"></input>
					</td>
				</tr>
				<tr>
					<td class="label">Country</td>
					<td class="wideField" colspan="3"><input class="field"
						id="country"></input></td>
				</tr>
				<tr>
					<td class="label">Lat</td>
					<td class="slimField"><input type="text" class="field"
						id="latitude"></input></td>
					<td class="label">Long</td>
					<td class="wideField"><input type="text" class="field"
						id="longitude"></input></td>
				</tr>
			</table>
	
			

		</div>
			<br/><br/>
			<input type="submit" value="Post Ad" class="btn btn-primary btn-lg" tabindex="7">
			
			</tab>
		</tabset>
		</form>
	</div>

 </div>