  <div ng-attr-id="{{wrapper}}">
  <br/><br/><br/>
	<div class="row" style="margin-left:20px;">
        <h2>All Products</h2>  <span>  <label for="search">Search:</label>  <input ng-model="u" id="search"  placeholder="Filter text"></span>
        	
           
              <label for="search">items per page:</label>
           		<input type="number" min="1" max="100"  ng-model="pageSize"></span> 
           		<br/>
           		<br/>
           		<br/>
           		
	<div class="row">      
      
        <div class="col-sm-3" dir-paginate="product in allProducts | filter: u | itemsPerPage: pageSize">
            <article class="col-item">
            	<div class="photo">
        			
        			<a href="#/productDetailView/{{product.productId}}"> <img src="{{product.photoName}}" class="img-responsive" alt="Product Image" style="height:150px;width : 150px; /> </a>
        		</div>
        		<div class="info">
        			<div class="row">
        				<div class="price-details col-md-6">
        					<p class="details">
        						{{product.title}}
        					</p>
        					<h1>{{product.productName}}</h1>
        					<span class="price-new">${{product.price}}</span>
        				</div>
        			</div>
        				<div class="separator clear-left">
        				<p class="btn-add">
        					<i class="fa fa-bars"></i><a href="#/productDetailView/{{product.productId}}" class="hidden-sm">More Details</a>
        				</p>
        				<p class="btn-details">
        					<a href="" class="hidden-sm" data-toggle="tooltip" data-placement="top" title="Add to wish list"><i class="fa fa-thumbs-o-up"></i>12</a>
        					<a href="" class="hidden-sm" data-toggle="tooltip" data-placement="top" title="Compare"><i class="fa fa-eye"></i>34</a>
        				</p>
        			</div>
        				<div class="clearfix"></div>
        		</div>
        	</article>
        </div>
        </div>
         <div ng-controller="OtherController" class="other-controller">
			          <div class="text-center">
			          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="html/admin/dirPagination.tpl.html"></dir-pagination-controls>
			          </div>
			        </div>
    </div>
    </div>