  <div ng-attr-id="{{wrapper}}">
  <br/><br/><br/><br/>
	<div class="row" style="margin-left:30px;">
<br/>
   <div class="col-xs-4 item-photo" >
                    <img style="max-width:100%;" 
                    src="{{selectedProduct.photoName}}" />
                    <h2 align="center">{{selectedProduct.productName}}</h2>
                </div>
                <div class="col-xs-8" style="border:0px solid gray">
                   <div ng-cloak>
					  <md-content>
					    <md-tabs md-dynamic-height md-border-bottom>
					      <md-tab label="Product Details">
					        <md-content class="md-padding">
					          <h1 class="md-display-1">{{selectedProduct.title}}</h1>
					          <label>Product Name :  </label><span>&nbsp;&nbsp;&nbsp;{{selectedProduct.productName}}</span><br/>
					           <label>Purchased Year :  </label><span>&nbsp;&nbsp;&nbsp;{{selectedProduct.purchasedYear}}</span><br/>
					            <label>Price :  </label><span>&nbsp;&nbsp;$&nbsp;{{selectedProduct.price}}</span><br/>
					            <label>Description :  </label><span>&nbsp;&nbsp;&nbsp;{{selectedProduct.description}}</span><br/>
					             <label>Seller Name :  </label><span>&nbsp;&nbsp;&nbsp;{{selectedProduct.sellerName}}</span><br/>
					             <label>Seller Address :  </label><span>&nbsp;&nbsp;&nbsp;{{selectedProduct.address}}</span><br/>
					             	<iframe width="300" height="170" frameborder="0" scrolling="no" marginheight="0" 
					             	marginwidth="0" 
					             	ng-src="{{url}}">
					             	</iframe><br /><small>
					             	<a ng-href="{{href}}" 
					             	style="color:#0000FF;text-align:left" target="_blank">See map bigger</a></small>
					          </md-content>
					      </md-tab>
					      <md-tab label="Comments">
					        <md-content class="md-padding">
					        <h3 class="text-success">Comments</h3><span ng-show="!onlyUser">
					          <label for="search" >Comments per page:</label>
           								<input type="number" min="1" max="100"  ng-model="pageSize"></span> 
					            <div class="well" ng-show="onlyUser">
					            <h4>Login/SignUp to View/post comments</h4>
					            </div>
									    
									 
									  <div class="row" ng-show="!onlyUser">
									    
           								<br/>
											<div class="col-md-12">
											    <div class="blog-comment" >
													<div class="post-comments" ng-show="!comments" >No Comments Yet</div>
													<div class="input-group">
												        <input type="text" id="userComment" ng-model="comment" class="form-control input-sm chat-input" placeholder="Write your message here..." />
													    <span class="input-group-btn">     
												            <a href="" ng-click="addComment(selectedProduct.productId)" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-comment"></span> Add Comment</a>
												        </span>
												    </div>
													<ul class="comments">
													<li class="clearfix" dir-paginate="comment in commentsList | itemsPerPage: pageSize" ng-show="comments">
													
													  <div class="post-comments">
													      <p class="meta">{{comment.commentedDate}} <a href="#">{{comment.commenterName}}</a> says:</p>
													      <p>
													         {{comment.description}}
													      </p>
													  </div>
													</li>
												
													</ul>
												</div>
											</div>
											    <div ng-controller="OtherController" class="other-controller">
										          <div class="text-center">
										          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="html/admin/dirPagination.tpl.html"></dir-pagination-controls>
										          </div>
										        </div>
										</div>
									
									
					           </md-content>
					      </md-tab>
					      <md-tab label="Contact Seller">
					        <md-content class="md-padding">
					          <h1 class="md-display-1">Contact Seller</h1>
					          <div class="well" ng-show="onlyUser">
					            <h4>Login/SignUp to contact seller</h4>
					            </div>
					          <p ng-show="!onlyUser">Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
					        </md-content>
					      </md-tab>
					    </md-tabs>
					  </md-content>
					</div>                                         
                </div>  
                
           </div>
                                      
</div>