<div class="row" style="margin-top: 20px">
	<div class="col-xs-12">
		<form role="form" name="myForm" novalidate>
			<fieldset>
				<h3>Add Sub-Category</h3>
				<hr class="colorgraph">


				<div class="form-group"
					ng-show="myForm.title.$dirty && myForm.title.$invalid"
					style="color: red; margin-left: 10px;"></div>
				<div class="form-group" ng-show="myForm.title.$error.required"
					style="color: red; margin-left: 10px;">* Sub Cateogry
					Required</div>
		
				<div class="form-group">
					<input type="text" ng-model="subCategory.name" name="name"
						id="name" class="form-control input-lg"
						ng-blur="checkSubCategory()" placeholder="Sub-Category Name"  required="required"
						ng-pattern="/^[A-Za-z ]+$/">
				</div>
				
				<div class="form-group" style="color: red; margin-left: 10px;"
					ng-show="myForm.name.$touched && myForm.name.$invalid">
					<div ng-show="myForm.name.$error.required">Sub-category name is
						required.</div>
				</div>
				<div class="form-group" style="color: red; margin-left: 10px;"
					ng-show="myForm.name.$invalid">
					<div ng-show="myForm.name.$error.pattern">Only alphabets
						permitted for first name.</div>
				</div>


				<div class="form-group" id="subCategoryCheck"
					style="color: red; margin-left: 10px; display: none;">*{{subCategoryCheck}}</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<input type="button" ng-click="createSubCategory();"
							class="btn btn-lg btn-primary btn-block" value="ADD" ng-disabled="myForm.$invalid">
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>