<div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Sub Categories</h3>
                </div>
                <ul class="list-group" ng-repeat="subCat in subCategories">
                   <li class="list-group-item" ng-show="subCat" >
                   <input type="text" ng-model="subCat.name" name="name" id="name" ng-disabled="!isDisabled"/>
  					<button class='btn btn-info btn-xs' ng-show="edit" ng-click="editSubCatClick();isDisabled = true"><span class="glyphicon glyphicon-edit"></span> Edit</button> 
  					<button ng-click="updateSubCat(subCat.subCategoryId);isDisabled = false" ng-show="update" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Update</button>
  					<button ng-click="isDisabled = false;cancelUpdate()" ng-show="update"class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-minus"></span> Cancel</button>
                	<button ng-click="deleteCategory(subCat.subCategoryId);" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</button>
                	
               
                   </li>
                   <li ng-show="subCat" style="color:red;">No Categories Found!!</li>
                </ul>
</div>

